* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #000000;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
    margin: 5px 0;
}

img {
    max-inline-size: 100%;
}

main {
    padding: 1.25rem;
    justify-content: center;
    grid-column: main;
}

.header {
    text-align: center;
    margin-bottom: 1.25rem;
    margin-top: 0%;
    background: linear-gradient(90deg, #bbdbff, #4dcbd4);
}

/* Gallery Styles */
.gallery {
    display: grid;
    grid-template-columns: 
        repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 12.5rem;
    gap: 1.25rem;
    grid-auto-flow: dense;
}

.gallery figure {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr);
    overflow: hidden;
}

.gallery img {
    grid-area: 1 / 1 / -1 / -1;
    object-fit: cover;
    block-size: 100%;
    inline-size: 100%;
}

.gallery figure:hover img {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
}

.gallery figcaption {
    grid-area: 1 / 1 / -1 / -1;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0.625rem;
    line-height: 1.3;
    align-self: end;
}

.gallery figcaption p{
    font-size: small;
}

.gallery figure:hover figcaption {
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Irregular picture alignments */
.gallery figure:nth-child(3) {
    grid-area: span 3 / span 1;
}

.gallery figure:nth-child(7) {
    grid-area: span 2 / span 2;
}

.gallery figure:nth-child(10) {
    grid-area: span 1 / span 2;
}

.gallery figure:nth-child(11) {
    grid-area: span 2 / span 1;
}

.gallery figure:nth-child(12) {
    grid-area: span 2 / span 1;
}

.gallery figure:nth-child(13) {
    grid-area: span 1 / span 2;
}

.gallery figure:nth-child(14) {
    grid-area: span 1 / span 2;
}